<div class="top-row nav-bar ps-3 has-background-aspnet has-text-aspnet-invert">
    <div class="container-fluid">
        <a class="site-header-brand" href="">TheBackendCmsSolution</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav-bar-nav flex-column">
        <div class="nav-item nav-bar-item px-3">
            <NavLink class="nav-link nav-bar-button has-text-aspnet-invert" href="admin/content-types">
                <span class="bi bi-collection" aria-hidden="true"></span> Content Types
            </NavLink>
        </div>
        <div class="nav-item nav-bar-item px-3">
            <NavLink class="nav-link nav-bar-button has-text-aspnet-invert" href="admin/content-items">
                <span class="bi bi-card-text" aria-hidden="true"></span> Content Items
            </NavLink>
        </div>
        <div class="nav-item nav-bar-item px-3">
            <NavLink class="nav-link nav-bar-button has-text-aspnet-invert" href="admin/modules">
                <span class="bi bi-puzzle" aria-hidden="true"></span> Modules
            </NavLink>
        </div>
    </nav>
</div>
