<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TheBackendCmsSolution</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/content-types">
                <span class="bi bi-collection" aria-hidden="true"></span> Content Types
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/content-items">
                <span class="bi bi-card-text" aria-hidden="true"></span> Content Items
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/modules">
                <span class="bi bi-puzzle" aria-hidden="true"></span> Modules
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <button class="btn btn-link nav-link" @onclick="Logout">Logout</button>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/login">Login</NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    [Inject] private AuthService Auth { get; set; } = default!;

    private async Task Logout()
    {
        await Auth.LogoutAsync();
    }
}

